.vert
{
  width:130px;
  height:50px;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.photoimg
{
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 500px;
  min-height: 600px;
}
.h1{
  color: white;
  text-align: justify;
  margin-left: 4.0rem;
  margin-top: 4.0rem;
  margin-left: 15%;
  font-family: "Bebas Neue", Bold;
  font-size: 100px;
  text-align: left;
}
.h1a
{
  color: white;
  text-align: justify;
  text-decoration: underline;
  text-decoration-color: #4D00A7;
  padding-left: 12.5rem;
  font-size: 25px;
}
.h1b
{
  color: #14144F;
  text-align: justify;
  text-decoration: underline;
  text-decoration-color: #4D00A7;
  padding-left: 4rem;
  font-size: 25px;
}
.p1
{
  color: white;
  text-align: justify;
  margin-left: 4.0rem;
  margin-left: 15%;
  font-family: "Work Sans", Regular;
  font-size: 16px;
}
.p3{
  color: white;
  text-align: justify;
  margin-left: 4.0rem;
  margin-left: 17%;
  font-family: "Work Sans", Regular;
  font-size: 14px;
}
.hr1
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  margin-top: 5em;
  margin-left: 6em;
  padding-left: 7em;
  border-style: inset;
  border-width: 1px;
  color:  #4D00A7;
}
.one
{
margin-top: 60px;
margin-bottom: 60px;
}
.p2
{
  font-size: 12px;
  text-align: left;
  margin-left: 9em;
}
.p21
{
  font-size: 12px;
  margin-left: 0.5em;
  margin-top: 0.3em;
}
.sec3
{
  background-color: #14144F;
  min-width: 500px;
  min-height: 500px;
  padding-bottom: 4rem;
}
.hr2{
  background-color: #4D00A7;
  margin-top: 5em;
  max-width: 50%;
}
.dot
{
  height: 25px;
  width: 25px;
  background-color: #4D00A7;
  border-radius: 50%;
  display: inline-block;
}
.carda
{
  background-color: #14144F;
}
ul#menu li
{
  display:inline-block;
  margin-left: 0.5em;
}
.card-img-top
{
  padding-top: 0rem;
  padding-right: -2rem;
}
.row2
{
  margin-top: 2rem;
  /* margin-bottom: 4rem; */
  margin-left: 6rem;
}
.bdm
{
  margin-left: 4rem;
  font-size: 14px;
  color: #0E0247;
  font-family: "Work Sans", Regular;
}
.ftr
{
  color: white;
  font-size: 45px;
  font-family: "BebasNeueLight";
  text-align: justify;
  margin-left: 4.0rem;
  padding-top: 4.0rem;
  margin-left: 15%;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #4D00A7;
}
.ftr1
{
  color: white;
  font-size: 14px;
  font-family: "Work Sans", Regular;
  text-align: justify;
  margin-left: 4.0rem;
  margin-left: 15%;
  text-align: left;
  width: auto;
}
.ftlw
{
  color: white;
  font-size: 15px;
  font-family: "Work Sans", Regular;
  text-align: justify;
  text-align: left;
  width: auto;
}
.cn1{
  margin-bottom: 3rem;
}
.foo{
  padding-left: 11.3rem;
}
.social
{
  text-align: right;
  color: white;
}
.fab
{
color: white;
font-size: 30px;
}
